*{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: content-box;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.main-container{
    height: (100vh - 80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

#check-boxes-container{
    width: fit-content;
    margin-left: 50%;
    height: calc(100vh - 80px);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.check-boxes-container input#main-box{
    position: relative;
}

.dashboard{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard > *{
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
}

button{
    background-color: rgb(43, 134, 194);
    border: 0;
    padding: 10px 20px;
    font-size: 0.8em;
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}

button:hover{
    background-color: rgb(10, 87, 138);
    transition: all 1s ease;
}

.overlay{
    width: 100vh;
    height: 100%;
    background-color: rgba(87, 87, 87, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    z-index: 2;
}

.popup{
    height: 30vh;
    width: 50%;
    background-color: cornflowerblue;
    z-index: 3;
    position: fixed;
}